
<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-9">
            <img  src="images/aboutImage.png" style="width:100%;height:100%;top:0;left:0;"  alt="">
        </div>        
    </div>
</div>        

<div class="container">
    <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h2 align=center>
                    Where we come from and where we are going
                </h2>
                <br>
                <h4>
                    <p>Our work started in 2012 with the idea that we should somehow affiliate these genres to do something awesomely unusual. It’s also motivation to make a difference in the thinking about the dynamic of the Hungarian music culture by making a new, different mainstream all along with lots of other bands we know and support.
                    </p>
                    <br>
                    <p>In 2016 we released our first EP named Szófiai Utcakő in which lyrics of our songs express social critic, moderate political sarcasm, tolerance towards each other and world peace.
                    </p>
                    <br>
                    <p>Our venues in the past included Flórián tér, Muzikum Klub, Kis Á, Gödör Klub, Magyar Színház, Bori Vár and lots of other places.
                    </p>
                    <br>
                    <p>Our appearances occur monthly concentrated mainly to the area near and in Budapest.
                    </p>
                </h4>
               <ul class="media-list">
                <li class="media" ng-repeat="musician in musicians">
                    <div class="media-left media-middle">
                        <a>
                        <img class="media-object img-thumbnail"
                        ng-src={{musician.image}} alt="Musician" style="width:400px;height:400px;">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{musician.name}}</h3>
                        <p>{{musician.description}}</p>
                    </div>
                </li>
            </ul>

            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div>
</div>
