<!--contactus.html-->
<h1 align=center>We’d love to hear from you!</h1><br><br>
<div class="row">
                <div class="col-xs-6 col-sm-4" >
                <h3>Management</h3>
                    <address style="font-size:22px;color:darkgrey;">
		              Balázs Csepregi<br>
		              <i class="fa fa-phone"></i>: +36203784727<br>
		              <i class="fa fa-envelope"></i>: 
                         <a href="mailto:balazs.csepregi.96@gmail.com" style="font-size:22px;color:darkgrey;">
                         balazs.csepregi.96@gmail.com</a>
                    </address>
                </div>
</div>
<div class="row">
                <div class="col-xs-6 col-sm-4" >
                <h3>Booking</h3>
                    <address style="font-size:22px;color:darkgrey;">
		              Milan Biró<br>
		              <i class="fa fa-phone"></i>: +3630 401 6140<br>
		              
		              <i class="fa fa-envelope"></i>: 
                         <a href="mailto:milanbiro97@gmail.com" style="font-size:22px;color:darkgrey;">
                         milanbiro97@gmail.com</a>
                    </address>
                </div>
</div>
<div class="row">    
                <div class="col-xs-6 col-sm-4" >
                <h3>Press</h3>
                    <address style="font-size:22px;color:darkgrey;">    
		              <i class="fa fa-envelope"></i>: 
                         <a href="mailto:geozenekar@gmail.com" style="font-size:22px;color:darkgrey;">
                         geozenekar@gmail.com</a>
                    </address>
                </div>
</div>
<div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="nav navbar-nav" style="padding: 40px 10px;color:darkgrey;">
                        <a class="btn btn-social-icon btn-facebook " href="https://www.facebook.com/geo.band.official/"><i class="fa fa-facebook" style="color:darkgray;"></i></a>
                        <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/geozenekar/"><i class="fa fa-instagram" style="color:darkgray;"></i></a>
                        <a class="btn btn-social-icon btn-youtube" href="https://www.youtube.com/user/babulus0/feed"><i class="fa fa-youtube" style="color:darkgray;"></i></a>
                        <a class="btn btn-social-icon" href="mailto:geozenekar@gmail.com"><i class="fa fa-envelope-o" style="color:darkgray;"></i></a>
                    </div>
                </div>
    
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align=center>© Copyright 2016 Geo</p>
                </div>
</div>